.addForm {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: self-start;
  gap: 1rem;
  padding-top: 1rem;
  max-width: 80%;
  margin: auto;
  padding-bottom: 1rem;
}

.price {
  position: relative;
}

.icon {
  position: absolute;
  top: 50%;
  left: 1rem;
}
