.items {
  height: 35vh;
  padding: 0;
  overflow: scroll;
}

.item {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 5px;
  margin-bottom: 10px;
}

.main {
  display: flex;
  padding-top: 1rem;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.details {
  display: flex;
  flex-grow: 1;
  width: 100%;
  gap: 1rem;
}

.actions {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}
