.header {
  display: flex;
  padding-top: 1rem;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

.header button {
  font-weight: bold;
  padding: 1rem;
}

.header h1 {
  font-size: 2rem;
  color: #1154a7;
}
